<div class="my-4">
<h1 class="titulo">Consolas de video juegos</h1>
</div>
<br>
<div class="container">
  <h1>Que son las consolas de video juegos</h1>
    <div class="row justify-content-start">
        <div class="textInicio col-7 p-3 rounded-start border-start" style="background-color:aqua;">
            <p class="lh-base">Las consolas de videojuegos son un tipo especializado de computadores que inicialmente se usaban exclusivamente para jugar, pero que, a medida que ha avanzado la tecnología, cada vez tienen más herramientas.
              Aunque no tienen todas las funciones de un computador tradicional, cuentan con aplicaciones que te permiten ver videos, escuchar música, ver películas en internet, además de jugar en línea con otras personas de todas partes del mundo.
              Generalmente,  las consolas de videojuegos con mayor capacidad gráfica reproducen las imágenes en pantallas externas, como los televisores. Las consolas portátiles cuentan con pantalla propia, pero sus características suelen ser inferiores en cuanto a la calidad de imagen, procesadores y software en general.
              Las consolas de videojuegos de última generación, adicionalmente a las características mencionadas anteriormente, han incorporado nuevas tecnologías como la realidad virtual y la realidad aumentada.

            </p>
           
        </div>
        <h1>Consolas Antiguas </h1>
        <div id="carouselExampleCaptions" class="carousel slide col-5" data-bs-ride="carousel">
        <div class="carousel-indicators ">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
         <div class="carousel-inner rounded-end">
          <div class="carousel-item active">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Sega-Mega-Drive-JP-Mk1-Console-Set.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Sega Mega Drive </h5>
            </div>
          </div>

          <div class="carousel-item rounded-end">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Wikipedia_SNES_PAL.jpg/800px-Wikipedia_SNES_PAL.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Super Famicom</h5>
            </div>
          </div>

          <div class="carousel-item rounded-end">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Game-Boy-FL.jpg/800px-Game-Boy-FL.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Game Boy</h5>
            </div>
          </div>

          <div class="carousel-item rounded-end">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Amiga-CD32-wController-L.jpg/1280px-Amiga-CD32-wController-L.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>AmigaCD32 </h5>
            </div>
          </div>

          <div class="carousel-item rounded-end">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Fairchild-Channel-F-System-II-Console.jpg/1024px-Fairchild-Channel-F-System-II-Console.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Fairchild Channel F </h5>
            </div>
          </div>
         </div>
   
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      
        </div>  
    </div>
    

</div>

<br>
<br>

<div class="container">
    <h1>Consolas modernas</h1>

    <div class="row justify-content-end">
        <div id="carousel2" class="carousel slide col-5" data-bs-ride="carousel">
            <div class="carousel-indicators ">
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="3" aria-label="Slide 4"></button>
              
            </div>
             <div class="carousel-inner rounded-end">
              <div class="carousel-item active">
                <img src="https://exitocol.vtexassets.com/arquivos/ids/9154827/consola-sony-playstation-5-ps5-825gb-lector-de-disco.jpg?v=637631028231230000" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>PlayStation 5 </h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Stadia-controller-and-Chromecast-Ultra-from-Premiere-Edition.jpg/800px-Stadia-controller-and-Chromecast-Ultra-from-Premiere-Edition.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Stadia de Google
                  </h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Xbox_series_X_%2850648118708%29.jpg/800px-Xbox_series_X_%2850648118708%29.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Xbox Series X </h5>
                </div>
              </div>

    
              <div class="carousel-item rounded-end">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Nintendo-Switch-Console-Docked-wJoyConRB.jpg/1024px-Nintendo-Switch-Console-Docked-wJoyConRB.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Nintendo Switch </h5>
                </div>
              </div>
             </div>
       
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          
            </div>
            <h1>Historia de las consolas</h1>
            <div class="textInicio col-7 p-3 rounded border-start" style="background-color:aqua;">
            <p class="lh-base">
              En la industria de los videojuegos, las videoconsolas han sido clasificadas en distintas generaciones. Esta clasificación la determina su tiempo de lanzamiento y la tecnología existente en ese momento. Las empresas fabricantes lanzan una nueva consola en determinado tiempo (que puede variar entre 5 o 6 años). Por otro lado, algunas generaciones están señaladas por un número determinado de bits, los cuales determinan el ancho de bus del procesador, (de la segunda generación hasta la sexta generación).

              Las primeras fabricantes ya presentaban equipos de 16 bits. A partir de esta cantidad, se fueron realizando las siguientes generaciones de consolas. Una consola de generación superior no tiene que poseer necesariamente un procesador de ancho de bus de datos de más bits, al contrario que la creencia popular que piensa que en cada generación se dobla el número de la anterior, ya que la potencia de un procesador está determinada además de por su ancho de bus por su estructura y velocidad.
              
              En las videoconsolas de reciente generación ya no solo depende la potencia de la unidad CPU sino también del procesador gráfico GPU que es el procesador encargado del manejo de gráficos en la consola. Cada componente tiene una determinada cantidad de bits y velocidad.
            </p>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">

    <h1>componentes de una consola</h1>

    <div class="row justify-content-start">
        <div class="textInicio col-6 p-3 rounded border-start" style="background-color:aqua;">
            <p class="lh-base">
               <ul>
                Una lista de las cosas que una consola de videojuegos actual debe tener, puede ser la siguiente:
                <li>Una interfaz con el usuario, es decir, un control.</li>
                <li>Una o varias memorias RAM.</li>
                <li>Un núcleo de software.</li>
                <li>Un medio de guardado para los juegos (DVD para los Xbox 360 o Blu ray para los PS3).</li>
                <li>Una CPU.</li>
                <li>Salida de video y audio.</li>
                <li>Una fuente de poder (energía eléctrica).</li>

               </ul>
            </p>
        </div>
        
        <div id="carousel3" class="carousel slide col-5" data-bs-ride="carousel">
            <div class="carousel-indicators ">
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="3" aria-label="Slide 4"></button>
             
            </div>
             <div class="carousel-inner rounded-end">
              <div class="carousel-item active">
                <img src="https://ae01.alicdn.com/kf/Hf457a600ebee4b4c9fce33b4ea5781f8p/Convertidor-de-se-al-de-Audio-y-v-deo-para-SCART-RGBS-componente-S-VIEO-salida.jpg_Q90.jpg_.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://hardzone.es/app/uploads-hardzone.es/2020/04/PS5-vs-XSX.jpg?x=480&quality=20" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://www.eafit.edu.co/ninos/reddelaspreguntas/maquinasyenergia/PublishingImages/Paginas/como-funcionan-los-videojuegos/videojuego.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://www.muycomputer.com/wp-content/uploads/2013/11/coste-de-fabricaci%C3%B3n-de-ps4-m0321mx-992x600.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5></h5>
                </div>
              </div>
             </div>
       
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

        
    </div>

    </div>
</div>
